    [Unit]
    Description=Looking Glass service by @pavolelsig

    [Service]
    Type=idle
    ExecStart=/bin/sh /usr/bin/lg_start.sh
    
    [Install]
    WantedBy=graphical.target
